.page-footer {
  background-color: var(--color-dark);
  padding-top: 20px;
  
}

.holder {
  // display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  // row-gap: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}

// .footer-block{
//   // display: flex;
//   // justify-content: space-between;
//   margin-top: 40px;
// }

.site-adress{
  margin-top: 20px;
  margin-bottom: 35px;
}

.page-footer a{
  transition: transform 300ms linear;
}

.footer-logo-text{

}

.logo-footer-text {
  display: block;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;

  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: calc(43 / 40);
  letter-spacing: 0.1em;
  color: var(--accent-color);  
  transition: color 100ms linear;
}

.logo-footer-text:hover,
.logo-footer-text:focus {
color: var(--color-light);
transform: scale(1.15);
}

.logo-footer-mail{ 
  font-size: 16px;
  color: var(--accent-color);
  transition: color 100ms linear;
}

 .logo-footer-mail:hover,
 .logo-footer-mail:focus {
    color: #f5f4f3;
 }

.footer-menu{
  margin-left: 180px;
  margin-top: 20px;
}

.footer-menu-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f5f4f3; 
  transition: color 100ms linear
}

.footer-menu-text:hover,
.footer-menu-text:focus {
  color: var(--color-light);
  transform: scale(1.15);
}

.footer-menu-list{  
  color: var(--color-light);
  transition: color 100ms linear, transform 300ms linear;
}

.footer-menu-list:hover,
.footer-menu-list:focus{
  // color: var(--color-light);
    transform: scale(1.15);
}

.site-adress-item .link{
  transition: color 100ms linear;
}

.site-adress-item .link:hover,
.site-adress-item .link:focus {
  color: #f5f4f3;
}

.holder .site-adress .link{
  font-size: 15px;
}



.footer-menu-list:not(:last-of-type) {
  margin-bottom: 16px;
}

.hero-social-list {
  margin: 0;
  width: 112px;
  // padding-top: 58px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
  align-items: center;
  list-style: none;
}

.hero-social-item {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 300ms linear;
  fill: #f3c653;
}

.hero-social-item:hover {
  transform: scale(1.2);
  fill: rgba(243, 198, 83, 0.7);
}

.hero-social-item:focus {
  fill: rgba(243, 198, 83, 0.7);
  transform: scale(1.2);
}