/* ______heder______ */

.header-border {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.mein-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// @media screen and (max-width: 1199px) {
//   .mein-nav {
//     justify-content: space-between;
//   }
// }

.logo {
  
}

// @media screen and (min-width: 1200px) {
//   .logo {
//     margin-right: 76px;
//     line-height: 1.33;
//   }
// }

.link{

}

.heder {
  align-items: center;
  justify-content: space-between;
}

// @media screen and (min-width: 1200px) {
//   .heder {
//     margin-right: auto;
//   }
// }

.site-nav {
  display: flex;
  justify-content: space-between;
}

.site-nav .link {
  display: block;
  padding-top: var(--gap24);
  padding-bottom: var(--gap24);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--dark-bg-color);
  transition: color var(--anim-function);
}

.site-nav .item {
  margin-right: 40px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link:focus,
.site-nav .link:hover {
  color: var(--accent-color);
}

// .site-nav .link:active {
//   color: var(--color-light);
// }

.site-adress {
  padding-top: 10px;
  margin-left: auto;
  justify-content: flex-end;
  color: var(--accent-color)
}

.header-border .site-adress-item .link:focus,
.header-border .site-adress-item .link:hover {
  color: var(--color-text);
}



// @media screen and (max-width: 767px) {

//   .site-nav,
//   .site-adress {
//     display: none;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .site-adress {
//     display: flex;
//     gap: 40px;
//     padding-top: 0;
//     margin-left: auto;
//   }
// }

.site-adress-item {
  margin-bottom: 10px;
  // font-weight: 500;
  // font-size: 12px;
  // line-height: 1.33;
  // letter-spacing: 0.04em;
  // color: var(--body-text-color);
 
}

.site-adress .link{
  font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--body-text-color);
}

// @media screen and (min-width: 1200px) {
//   .site-adress-item {
//     font-size: 16px;
//     line-height: 1.5;
//   }
// }

.site-nav .current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -10px;

  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
