<footer class="page-footer">
  <div class="container">
    <!-- <div class="footer-menu-wrapp"> -->

      <div class="footer-logo-text">      
        <a class="logo-footer-text link dekore-link" href="./index.html" >Air-Service</a>
        <a class="logo-footer-mail link dekore-link" href="mailto:aerservice@ukr.net">aerservice@ukr.net</a>
      </div>
    
      <ul class="footer-menu"> 
        <!-- <li class="item footer-menu-list list">
          <a href="./index.html" class="dekore-link footer-menu-text list"
            >ГОЛОВНА</a
          >
        </li> -->
        <li class="item footer-menu-list list">
          <a href="/src/products.html" class="dekore-link footer-menu-text list"
            >ПРОДУКЦІЯ</a
          >
        </li>
        <li class="item footer-menu-list list">
          <a href="/src/services.html" class="dekore-link footer-menu-text list"
            >ПОСЛУГИ</a
          >
        </li>
        <li class="item footer-menu-list list">
          <a href="/src/contacts.html" class="dekore-link footer-menu-text list"
            >КОНТАКТИ</a
          >
        </li>
      </ul>

      <div class="heder-contacts">      
      <ul class="site-adress list">
        <li class="site-adress-item ">
          <a href="tel:+380664096725" class="link dekore-link">+38 (066) 409 67 25</a>
            </a
          >
        </li>
        <li class="site-adress-item">
          <a href="tel:+380675036506" class="link dekore-link"
            >+38 (067) 503 65 06</a
          >
        </li>
        <li class="site-adress-item">
          <a href="tel:+380445365618" class="link dekore-link">+38 (044) 536 56 18</a>
        </li>
      </ul>
    <!-- </div>       -->
  </div>
</footer>
