<header class="header-border">
  <div class="container mein-nav">
    <a
      href="./index.html"
      class="logo link"
      aria-label="Посилання на головну сторінку"
      ><svg class="logo-icon" width="70" height="70">
        <use href="/src/images/icons.svg#icon-logo-air-icon"></use>
      </svg>
    </a>
    <nav class="heder">
      <ul class="site-nav list">
        <li class="item">
          <a href="./index.html" class="link dekore-link current effect"
            >ГОЛОВНА</a
          >
        </li>
        <li class="item">
          <a href="/src/products.html" class="link dekore-link">ПРОДУКЦІЯ</a>
        </li>
        <li class="item">
          <a href="/src/services.html" class="link dekore-link">ПОСЛУГИ</a>
        </li>
        <li class="item">
          <a href="/src/contacts.html" class="link dekore-link">КОНТАКТИ</a>
        </li>
      </ul>
    </nav>

    <div class="heder-contacts">      
      <ul class="site-adress list">
        <li class="site-adress-item">
          <a href="tel:+380664096725" class="link dekore-link">+38 (066) 409 67 25</a>
            </a
          >
        </li>
        <li class="site-adress-item">
          <a href="tel:+380675036506" class="link dekore-link"
            > +38 (067) 503 65 06</a
          >
        </li>
        <li class="site-adress-item">
          <a href="tel:+380445365618" class="link dekore-link"
            >   +38 (044) 536 56 18</a
          >
        </li>
      </ul>
    </div>

    <button
      class="menu-burger js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        class="burger-btn"
        width="32"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <use href="./images/icons.svg#menu-hamburger"></use>
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>
</header>
