<section class="hero overlay">
  <div class="container">
    <a
      class="address-link link dekore-link"
      href="https://goo.gl/maps/Nk6FG7o9zPqptTXz7"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="icon" width="20" height="20">
        <use href="/src/images/icons.svg#icon-mapa"></use>
      </svg>
      <address class="address">
        Україна, м. Київ, <br />
        вул Будіндустрії 7
      </address>
    </a>
    <h1 class="hero-title" style="--idx: -1; --shift: 1">Air-Service</h1>
    <p class="hero-text" style="--shift: 2">теплоізоляція та комплектуючі</p>
    <p class="hero-slogan" style="--idx: 1; --shift: 3">для вентиляції</p>
    <ul class="hero-button-list list">
      <li>
        <button
          class="button-order btn-ord-second-size js-open-modal"
          type="button"
          data-modal="2"
        >
          Придбати
        </button>
      </li>
    </ul>

    <ul class="hero-social-list">
      <li>
        <a
          href="https://www.instagram.com/"
          class="hero-social-item"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="24" height="24">
            <use href="/src/images/icons.svg#icon-insta"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/Airfoam.service"
          class="hero-social-item"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="24" height="24">
            <use href="/src/images/icons.svg#icon-face"></use>
          </svg>
        </a>
      </li>

      <li>
        <a
          href="https://telegram.org/"
          class="hero-social-item"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg width="24" height="24">
            <use href="/src/images/icons.svg#icon-telega"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
